blog-personal
config/config.yaml
[0-9]*.webp
[0-9]*.png
[0-9]*.jpg
[0-9]*.jpeg
[0-9]*.gif
[0-9]*.bmp
[0-9]*.tiff
[0-9]*.ico
ui/static/assets/images/articles/*.webp
ui/static/assets/images/articles/*.png
ui/static/assets/images/articles/*.jpg
ui/static/assets/images/articles/*.jpeg
ui/static/assets/images/articles/*.gif
ui/static/assets/images/articles/*.bmp
ui/static/assets/images/articles/*.tiff