<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="/static/css/style" />
    <link rel="stylesheet" href="/static/css/admin" />
    <link rel="icon" type="image/svg+xml" href="/static/assets/images/logos/code">
</head>

<body class="bg-tertiary min-h-screen relative">
    <nav class="w-screen bg-primary-dark text-tertiary pb-2 laptop:p-4 flex gap-4 flex-col laptop:flex-row justify-between laptop:items-center">
        <h1 class="text-2xl font-bold">Panel de Administración</h1>
        <ul class="flex gap-8 items-center flex-col laptop:flex-row">
            <li><a href="/admin/personal">Información Personal</a></li>
            <li><a href="/admin/articles">Artículos</a></li>
            <li><a href="/admin/projects">Proyectos</a></li>
            <li><a href="/">Página principal</a></li>
            <li>
                <form action="/logout" method="POST" class="my-auto">
                    <button type="submit" class="text-primary-dark font-bold bg-secondary-light rounded-lg px-4 py-2">Cerrar sesión</button>
                </form>
            </li>
        </ul>
    </nav>
    <main>
        <h1>{{if .ID}}Editar{{else}}Nuevo{{end}} Proyecto</h1>

        <form method="POST" action="{{if .ID}}/admin/projects/edit{{else}}/admin/projects/new{{end}}" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{.ID}}">

            <label for="title">Título:</label>
            <input type="text" name="title" id="title" value="{{.Title}}" required>

            <label for="description">Descripción:</label>
            <textarea name="description" id="description" rows="5">{{.Description}}</textarea>

            <label for="url_repository">URL del Repositorio:</label>
            <input type="url" name="url_repository" id="url_repository" value="{{.UrlRepository}}">

            <label for="url_website">URL del Sitio Web:</label>
            <input type="url" name="url_website" id="url_website" value="{{.UrlWebsite}}">

            <input name="image-path" value="{{.Image}}">

            <label for="image">Imagen (JPG, PNG):</label>
            <input type="file" name="image" id="image" accept="image/*">

            <label for="is_hidden">¿Oculto?</label>
            <input type="checkbox" name="is_hidden" id="is_hidden" {{if .IsHidden}}checked{{end}}>

            <button type="submit" class="btn">Guardar</button>
            <a href="/admin/projects" class="btn secondary">Cancelar</a>
        </form>
    </main>
</body>

</html>